<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250991988663-4b2tf387f6pp5tf508dhn4ab889te144.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250991988663-4b2tf387f6pp5tf508dhn4ab889te144</string>
	<key>API_KEY</key>
	<string>AIzaSyAnzM7fzD-3L-nPYqzwgZiKOkct_KET-4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>250991988663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-fbed7</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-fbed7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250991988663:ios:80cf46e7262e2e8ab0a232</string>
</dict>
</plist>